<%- include("partials/header"); -%>

<form class="" action="/electronics" method="post">
    <div class="input-group mx-auto mt-5 w-75 p-3">
        <input type="text" class="form-control border rounded" placeholder="Search..." aria-label="Search..." name="item">
        <div class="input-group-append p-1">
          <button class="btn btn-outline-secondary border border-dark rounded" type="submit">Button</button>
        </div>
      </div>
  </form>
