<%- include("partials/header"); -%>
<div class="d-flex justify-content-around align-items-center" style="margin-top:10%">
    <div class="card" style="width: 18rem;">
        <img src="/images/Electronics.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">Search any electronics and compare them from multiple marketplaces.</p>
          <a href="/electronics" class="btn btn-primary">Search now</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/images/accessories.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accessories</h5>
          <p class="card-text">Search any electronic's Accessories and compare them from multiple marketplaces.</p>
          <a href="/accessories" class="btn btn-primary">Search now</a>
        </div>
      </div>
      
  </div>